/********Global CSS Properties ******/
*
{
	box-sizing: border-box;
}

body
{
	background: #fff;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	color: #4F5665;
}

h1,h2,h3,h4,h5,h6,a 
{
	text-transform:initial;
	margin:0;
	padding:0;
	text-decoration:none;
	margin-bottom:0px;
    color:#0B132A;
    padding-bottom: 0px;
}

a
{
	margin-bottom: 0px;
	padding-bottom: 0px	;
}

h1
{
	
  	font-family: 'Rubik', sans-serif;
  	font-size:50px;
  	font-weight: 500;
  	line-height: 1.4;


}

h2
{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.42;
}

h3
{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.28;
}

h4 
{
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.2;
}

h5
{
	font-family: 'Rubik', sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 1.66;
}

h6
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

p
{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}

a
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight:500;
	color: #F53838;
	padding: 13px 60px;
	border: 1px solid #F53838;
	border-radius: 30px;
	line-height: 1.18;
	transition: all .2s ease-in-out;
}

a:hover
{	
	color: #fff;
	border-color: #F53838;
	background: #F53838;
	transition: all .2s ease-in-out;

}

ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}
img
{
	width: 100%;
}


li 
{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.18;

}

.content-wrapper
{
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}


/********* Header *****************/
 
.header-sec
{
	padding: 45px 0px;
}
.header-row
{
	display: flex;
	align-items: center;
	column-gap: 60px;
}

.logo
{
	max-width: 149px;
}
.nav-menu a
{
	border: none;
	color: #4F5665;
	padding: 0px 20px;
}
.nav-menu a:hover
{
	color: #F53855;
	background: transparent;
}

.signin
{
	border: none;
	color: #0B132A;
	padding: 0px 20px;

}

.signin:hover
{
	background: transparent;
	color: #F53855;
	
}

.signup
{
	padding: 13px 45px;
}

/************* Mobile Menu ***********/
.mob-menu
{
	display: none;
}



#mobile-menu {
    position: absolute;
    background: #F53838;
    left: 0;
    top: 80px;
    width: 100%;
    transition: all .5s ease-in-out;
    padding: 40px 0px 40px 0px;
}

#mobile-menu a {
    color: #fff;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
    transition: all .5s ease-in-out;
    line-height: 1.18;
    border: none;
}

#mobile-menu a:hover {
    transform: translate(0px, -8px);
    transition: all .5s ease-in-out;
}

#mobile-menu .signin
{
	font-weight: bold;
}


#mobile-menu .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    max-width: 150px !important;
    margin: 5px auto;
}

 /******** 744px  Tab View **********/


@media(max-width: 767px)
{
	.content-wrapper
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav-menu {
	    display: none;
	}

	.nav-btn
	{
	    display: none;
	}

	.header-sec {
	    padding: 15px 0px;
	}
	
	.mob-menu 
	{
		display: block;
	}	

	.menu-btn-burger
	{
		display: block;
	}

	#mobile-menu
	{
		display: none;
	}

	.header-row 
	{
    	justify-content: space-between;
	}


	.menu-btn-burger
		{
			min-width: 35px;
			height: 2px;
			background: #343D33;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			transition: all .5s ease-in-out;
			display: flex;
			cursor: pointer;
			position: relative;
		}

		.menu-btn-burger::before, .menu-btn-burger::after
		{
			content:'';
			position: absolute;
			width:100%;
			height: 2px;
			background: #343D33;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			transition: all .5s ease-in-out;
		}

		.menu-btn-burger::before
		{
			transform: translateY(-11px);
		}

		.menu-btn-burger::after
		{
			transform: translateY(11px);
		}


		.menu-btn-burger.open 
		{
			transform: translateX(-50px);
			background: transparent;
			box-shadow: none;
		}

		.menu-btn-burger.open::before
		{
			transform: rotate(45deg) translate(35px,-35px);
		}

		.menu-btn-burger.open:after
		{
			transform: rotate(-45deg) translate(35px,35px);
		}

}

/********** Header Responsive ***********/

@media (max-width:1120px)
{
	.header-row 
	{
	    column-gap: 30px;
	}
	.nav-menu a 
	{
	    padding: 0px 12px;
	}

	.signin 
	{
	    padding: 0px 12px;
	}
	
	.signup 
	{
	    padding: 12px 30px;
	}
	

}


@media (max-width: 932px)
{
	.header-row {
	    column-gap: 15px;
	}

	.nav-menu a {
	    padding: 0px 6px;
	}
	.signin {
	    padding: 0px 6px;
	}
	.signup {
	    padding: 8px 16px;
	}

	.nav-menu a 
	{
	    font-size: 14px;
	}

	.nav-btn a
	{
		font-size: 14px;
	}

	

}



