/********Global CSS Properties ******/
*
{
	box-sizing: border-box;
}

body
{
	background: #fff;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	color: #4F5665;
}

h1,h2,h3,h4,h5,h6,a 
{
	text-transform:initial;
	margin:0;
	padding:0;
	text-decoration:none;
	margin-bottom:0px;
    color:#0B132A;
    padding-bottom: 0px;
}

a
{
	margin-bottom: 0px;
	padding-bottom: 0px	;
}

h1
{
	
  	font-family: 'Rubik', sans-serif;
  	font-size:50px;
  	font-weight: 500;
  	line-height: 1.4;


}

h2
{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.42;
}

h3
{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.28;
}

h4 
{
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.2;
}

h5
{
	font-family: 'Rubik', sans-serif;
	font-size:18px;
	font-weight: 500;
	line-height: 1.66;
}

h6
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
}

p
{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}

a
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight:500;
	color: #F53838;
	padding: 13px 60px;
	border: 1px solid #F53838;
	border-radius: 30px;
	line-height: 1.18;
	transition: all .2s ease-in-out;
}

a:hover
{	
	color: #fff;
	border-color: #F53838;
	background: #F53838;
	transition: all .2s ease-in-out;

}

ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}
img
{
	width: 100%;
}


li 
{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.18;

}

.content-wrapper
{
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}


/********* Header *****************/
 
.header-sec
{
	padding: 45px 0px;
}
.header-row
{
	display: flex;
	align-items: center;
	column-gap: 60px;
}

.logo
{
	max-width: 149px;
}
.nav-menu a
{
	border: none;
	color: #4F5665;
	padding: 0px 20px;
}
.nav-menu a:hover
{
	color: #F53855;
	background: transparent;
}

.signin
{
	border: none;
	color: #0B132A;
	padding: 0px 20px;

}

.signin:hover
{
	background: transparent;
	color: #F53855;
	
}

.signup
{
	padding: 13px 45px;
}

/************* Mobile Menu ***********/
.mob-menu
{
	display: none;
}



#mobile-menu {
    position: absolute;
    background: #F53838;
    left: 0;
    top: 80px;
    width: 100%;
    transition: all .5s ease-in-out;
    padding: 40px 0px 40px 0px;
}

#mobile-menu a {
    color: #fff;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: 400;
    transition: all .5s ease-in-out;
    line-height: 1.18;
    border: none;
}

#mobile-menu a:hover {
    transform: translate(0px, -8px);
    transition: all .5s ease-in-out;
}

#mobile-menu .signin
{
	font-weight: bold;
}


#mobile-menu .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    max-width: 150px !important;
    margin: 5px auto;
}


/************ Section A *******************/

.section-a
{
	padding: 88px 0px 70px 0px;
}

.section-a .content-wrapper
{
	max-width: 1140px;
}
.section-a-row
{
	display: flex;
	
}

.section-right img
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

}

.section-right
{
	width: 50%;
}
.section-left 

{
	width: 50%;
}
.section-left p
{
	padding:  20px 0px;
	max-width: 555px;

}

.section-left a
{
	margin-top: 15px;
	display: inline-block;
	background: #F53838;
	border-radius: 10px;
	color: #fff;
	padding: 18px 78px;
	font-weight: 500;
	line-height: 1.56;
	font-style: normal;
	
}

.section-left a:hover
{
	box-shadow: rgb(245, 56, 56) 0px 20px 30px -10px;
}

/************* Section B ************/

.section-b
{
	padding: 100px 0px 43px 0px;
}

.section-b-row
{
	display: flex;
	justify-content: space-around;
}
.box
{
	display: flex;
	align-items: center;
	column-gap: 50px;
}

.box img
{
	max-width: 16px;
}
.icon-text p
{
	margin: 0px;
	font-size: 20px;
}


/************ Section C **********/

.section-c
{
	padding: 42px 0px 100px 0px;
}

.section-c-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-c-right h2
{
	max-width: 384px;
}

.section-c-right p
{
	max-width: 428px;
	padding-top: 20px;
}

.section-c-right ul
{
	padding: 5px 0px;
	align-items: center;
	
}


.section-c-right ul li img
{
 	max-width: 16px;
 	margin-right: 12px;

}

.section-c-right ul li
{
	padding: 15px 0px;
	align-items: center;
}



/************ Section D *************/

.section-d

{
	padding: 100px 0px;
}

.section-d-row h2{
    text-align: center ;
}
.section-d-row p
{
	text-align: center;
}
.card-row 
{
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
}

.card 
{
    width: 31%;
    text-align: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
   	padding: 80px 0px 50px 0px;
}
.card-img img {
    max-width: 145px;
}

.card ul li img {
    max-width: 14px;
    margin-right: 25px;
}

.card-img h5 {
    padding: 30px 0px 20px 0px;
}

.card-mid ul {
    padding: 5px 0px;
}

.card-mid {
    padding: 15px 60px 30px 60px;
    text-align: justify;
}

.card-last a {
    margin: 20px 0px 0px 0px;
    display: inline-block;
}
.card-mid ul li
{
	padding: 10px 0px;

}

.card-last h4 {
    padding: 100px 0px 0px 0px;
}

.text1
{
	font-size: 26px;
	font-weight: 500;
}
.text2
{
	font-weight: 400;
	padding-left: 5px;
}

.card-last.insec h4 {
    padding-top: 60px;
}

.card-last.insec2 h4
{
	padding-top: 20px;
}

.card-btn
{
	background: #F53838;
	color: #fff;
}

.card-btn:hover {
    box-shadow: rgb(245 56 56) 0px 20px 30px -10px;
}

/************ Section E ***********/

.section-e
{
	padding: 0px 0px 100px 0px;

}

.sec-top
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.sec-top h2
{
	max-width: 390px;
}

.sec-top p
{
	max-width: 555px;
	padding-top: 20px
}

.sec-bot {
    		padding: 100px 0px 35px 0px;
    	}
.sec-bot img
{
	background-size: cover;
	background-repeat: no-repeat;
	col
}

.part-logo
{
	padding: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sec-top.heading h2 
{
    max-width: 445px;
    padding: 80px 0 0 0;
}



/************ Section F *********/


.section-f 
{
	padding: 0px;
}

.section-f .content-wrapper
{
	max-width: 1440px;
}

.carousel-item 
{
    padding: 30px;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}



.carousel-item img 
{
    max-width: 50px;
    height: 50px;
}

.carousel-item h4 
{
    color: #0B132A;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.carousel-item p 
{
    padding: 0;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    color: #4F5665;
 }

.checked
{
	color: orange;
	padding-left: 10px;
}
.test-top {
    display: flex;
    justify-content: space-between;
}

.left 
{
    display: flex;
    flex-direction: row;
}

.card-item {
    margin-left: 20px;
}

.cart-item p
{
	font-weight: 400;
	font-size: 14px;
	line-height: 2.14;
}

.test-bot {
    padding: 20px 0 0 0;
}
.test-bot p
{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	color: #0B132A;
}

/************** Slick ********/

.slick-slide {
    margin: 0px 25px;
}

.slick-dots {
    text-align: left !important;
    padding: 50px 0 0 0px !important;
}

.slick-dots li button:before 
{

   font-size: 16px !important;
       
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;
    background: red;
    padding: 0 10px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
 }

.slick-prev:before, .slick-next:before 
{
    
  
   	 color: #F53838 !important;
   	 font-size: 35px !important;
}

.slick-prev, .slick-next 
{
   
    position: relative; !important;
    top: 100% !important;
    margin:20px 0 0 0 !important;
    z-index: 11111;
    
}


.slick-prev:before {
    content: '←';
    position: absolute;
}
.slick-next:before {
    position: absolute;
}


.slick-slide 
{
    display: none;
    float: left;
    min-height: 293px !important;
   
}



.slick-dots li
 {
    
    
    margin: 0 15px !important;
  
}



.slick-prev:before {
    left: 0;
}

.slick-next {
    right: 40px !important;
}

.slick-next:before {
    right: 0;
}

button.slick-prev.slick-arrow {
    left: auto;
    right: 100px !important;
}
/***************** Slidees *******/ 



.slideshow-container {
    position: relative;
    margin: auto;
    	
}


/********** Section G *************/

.section-g 
{
    margin-top: -50px;
    position: relative;
    bottom: 0px;
    top: 140px;
}

.section-g-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px #0d102585;
    padding: 55px 70px;
    border-radius: 10px;
    background: #fff;
}

.section-g-row h2
{

	max-width: 371.61px;
}

.section-g-row a
{
	border-radius: 10px;
	background: #F53838;
	border: 1px solid #F53838;
	color: #fff;
}

.section-g-row a:hover
{
	box-shadow: rgb(245 56 56) 0px 20px 30px -10px;
}

/*********** Footer **************/

footer {
    background: #F8F8F8;
    padding: 180px 0 100px 0;
    z-index: -1;
}

.footer-section 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.footer-left img
{
	max-width: 149px;
}

.footer-social 
{
	display: flex;
	text-align: left;
}
.footer-social img
{
	max-width: 35px;
}

.footer-left p
{
	max-width: 340px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-right-1 
{
    display: flex;
    flex-direction: column;
}

.footer-right-1 {
    display: flex;
    flex-direction: column;
}

.footer-right a
{
	border: none;
	color: #4F5665;
	margin: 0;
	padding: 6px 0px;
	font-weight: 400;

}

.footer-right a:hover
{
	border: none;
	background: transparent;
	color: #F53838;
}

.footer-right-1 h5 {
    padding-bottom: 15px;
}

/******** 744px  Tab View **********/

@media(max-width: 767px)
{
	.content-wrapper
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav-menu {
	    display: none;
	}

	.nav-btn
	{
	    display: none;
	}

	.header-sec {
	    padding: 15px 0px;
	}
	
	.mob-menu 
	{
		display: block;
	}	

	.menu-btn-burger
	{
		display: block;
	}

	#mobile-menu
	{
		display: none;
	}

	.header-row 
	{
    	justify-content: space-between;
	}


	.menu-btn-burger
		{
			min-width: 35px;
			height: 2px;
			background: #343D33;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			transition: all .5s ease-in-out;
			display: flex;
			cursor: pointer;
			position: relative;
		}

		.menu-btn-burger::before, .menu-btn-burger::after
		{
			content:'';
			position: absolute;
			width:100%;
			height: 2px;
			background: #343D33;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			transition: all .5s ease-in-out;
		}

		.menu-btn-burger::before
		{
			transform: translateY(-11px);
		}

		.menu-btn-burger::after
		{
			transform: translateY(11px);
		}


		.menu-btn-burger.open 
		{
			transform: translateX(-50px);
			background: transparent;
			box-shadow: none;
		}

		.menu-btn-burger.open::before
		{
			transform: rotate(45deg) translate(35px,-35px);
		}

		.menu-btn-burger.open:after
		{
			transform: rotate(-45deg) translate(35px,35px);
		}

		.section-c-row 
		{
		    display: flex;
		    align-items: center;
		    flex-direction: column;
		}

		.section-c-right {
		    padding-top: 50px;
		}

		.card-mid {
		    padding: 15px 10px 30px 10px;
		    text-align: justify;
		}

		.card ul li img 
		{
    		max-width: 11px;
    		margin-right: 13px;
    	}

    	.card-mid 
    	{
    		padding: 15px 15px 30px 15px;
    		text-align: justify;
		}
		.card-mid ul li 
		{
		    font-size: 12px;
		}

		.card-last a 
		{
    		padding: 12px 30px;
		}

		.section-g-row 
		{
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    text-align: center;
		}

		.section-g-row a 
		{
		    margin-top: 50px;
		    display: inline-block;
		}

		.footer-section 
		{
    		display: flex;
    		flex-direction: column;
    	}

    	.slick-slide 
    	{
    	    min-height: 300px !important;
    	}

    	.carousel-item 
    	{
    		padding: 20px;
		}

		.slick-slide {
		    min-height: 300px !important;
		}

		.carousel-item h4 
		{
    				font-size: 12px;
    	}

		.card-item p {
    					font-size: 11px;
					}
		.test-bot p 
		{
		    font-size: 14px;
		   
		 }
}

/********** Header Responsive ***********/

@media (max-width:1120px)
{
	.header-row 
	{
	    column-gap: 20px;
	}
	.nav-menu a 
	{
	    padding: 0px 12px;
	}

	.signin 
	{
	    padding: 0px 12px;
	}
	
	.signup 
	{
	    padding: 12px 30px;
	}

	.section-a-row {
	    display: flex;
	    flex-direction: column;
	}

	.section-right 
	{
    	padding: 50px 0px 0px 0px;
    	width: 100%;
    }
	
	.section-left {
	    width: 100%;
	}

	.section-left h1
	{
		max-width: 600px;
	}

	.card-mid {
	    padding: 15px 20px 30px 40px;
	    text-align: justify;
	}

	.slick-slide 
	{
	    min-height: 350px !important;
	}

}


@media (max-width: 932px)
{
	.header-row {
	    column-gap: 15px;
	}

	.nav-menu a {
	    padding: 0px 6px;
	}
	.signin {
	    padding: 0px 6px;
	}
	.signup {
	    padding: 8px 16px;
	}

	.nav-menu a 
	{
	    font-size: 14px;
	}

	.nav-btn a
	{
		font-size: 14px;
	}

	.card-mid {
	    padding: 15px 15px 30px 15px;
	    text-align: justify;
	}
	.card ul li img {
	    max-width: 14px;
	    margin-right: 13px;
	}

	.section-g-row h2 {
    max-width: 300px;
	}

	.section-g-row 
	{
    	padding: 30px 50px;
 
	}

	.carousel-item h4 
		{
    		font-size: 12px;
    	}

		.card-item p {
    					font-size: 11px;
					}
		.test-bot p 
		{
		    font-size: 14px;
		   
		 }

}


@media (max-width: 660px)
{
	.card-row 
	{
    	padding: 30px 0px;
    	display: flex;
    	justify-content: space-between;
    	flex-direction: column;
	}

	.card 
	{
    	width: 100%;
    	padding: 40px 0px 25px 0px;
    	margin-bottom: 40px;
	}

	.card-mid 
	{
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
	}

	.card-last h4 
	{
    	padding: 60px 0px 0px 0px;
	}

	.section-a 
	{
    	padding: 80px 0px 40px 0px;
	}

	.section-b 
	{
    	padding: 80px 0px 40px 0px;
	}

	.section-c 
	{
	    padding: 40px 0px 40px 0px;
	}

	.section-d 
	{
	    padding: 40px 0px;
	}

	.section-a-row 
	{
	    text-align: center;
	}

	.section-e 
	{
    	padding: 0px 0px 40px 0px;
	}

	.sec-bot 
	{
	    padding: 50px 0px 35px 0px;
	}
}


@media (max-width: 560px)
{
	.box {
	    display: flex;
	    align-items: center;
	    column-gap: 30px;
	}

	.icon-box h4
	{
		font-size: 20px;
	}


}



@media (max-width: 470px)
{
	.section-b-row {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.box {
	    
	    padding: 30px 0px;
	}
	.card-last a 
	{
    	padding: 12px 60px;
    }

	.card-mid 
	{
    	padding: 15px 15px 10px 15px;
   		text-align: justify;
	}
	.card-last h4 
	{
    	padding:15px 0 0 0;
	}

	.section-g-row a 
	{
   
    	font-size: 15px;
    	padding: 12px 30px;
    	margin-top: 30px;
    }

    .carousel-item {
    		padding: 25px;
				}
.slick-slide {
    min-height: 300px !important;
}
.test-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.carousel-item h4 {
    font-size: 16px;
    padding-top: 20px;
}
.card-item p {
    font-size: 14px;
}

.carousel-item p {
    font-size: 16px;
    text-align: center;
}

.test-bot p {
    font-size: 14px;
}


}


@media (max-width: 500px)
{
	.slick-slide {
    min-height: 230px !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;
    background: red;
    padding: 0 1px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
}

.slick-dots li {
    margin: 0 5px !important;
}

.slick-prev, .slick-next 
{
    width: 10px;
    height: 10px;
   
}

}


@media (max-width: 315px)
{
	.section-left a 
	{
	    padding: 18px 70px;
	}

	.section-btn {
	    text-align: center;
	}
	   
}


@media (max-width: 1210px)
{
	.carousel-item h4 
	{
   
    	font-size: 16px;
    
	}

	.carousel-item 
	{
	    padding: 25px;
	}

	.card-item p 
	{
	 	font-size: 14px;
	}

}
